<!doctype html>
<html class="no-js" lang="pt-br">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Flimed</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="manifest" href="/views/site.webmanifest">
		    <!-- Favicons -->
    	<link rel="apple-touch-icon" sizes="144x144" href="views/img/favicon.png" />
    	<link rel="apple-touch-icon" sizes="114x114" href="views/img/favicon.png" />
    	<link rel="apple-touch-icon" sizes="72x72" href="views/img/favicon.png" />
    	<link rel="apple-touch-icon" href="views/img/favicon.png" />
    	<link rel="shortcut icon" href="/views/img/favicon.png" />
		<% if ( page == 'Clínica Perfil') { %>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
			<% } %>
		<link rel="stylesheet" href="/views/css/style.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="/views/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>

		<!-- CSS Alertify -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
		<!-- Default theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
		<!-- Semantic UI theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css"/>
		<!-- Bootstrap theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
	</head>

	<body>
		<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
		<div class="mask mask-main" id="mask_main"></div>
		<main class="main">
			<div class="nav-mobile" id="nav_mobile">
				<div class="nav-lines">
					<div class="line-top"></div>
					<div class="line-middle"></div>
					<div class="line-bottom"></div>
				</div>
			</div>
			<header class="header-painel" id="header_painel">
				<div class="inner">
					<figure class="logo-painel">
						<a href="/clinica-painel"><img src="/views/img/logo-painel-cliente.svg" alt="Logo Flimed"></a>
					</figure>

					<nav class="nav-vestical">
						<ul class="menu row">
							<li class="menu-item col-6 col-sm-4 col-md-12">
								<a href="/clinica-painel" class="menu-item__target">
									<div class="inner">
										<div class="sprite-painel">
											<img src="/views/img/home.svg" alt="Voltar para o Painel">
										</div>
										<span class="menu-tooltip">Inicio</span>
									</div>
								</a>
							</li>
							<li class="menu-item col-6 col-sm-4 col-md-12">
								<a href="/clinica-perfil" class="menu-item__target">
									<div class="inner">
										<div class="sprite-painel">
											<img src="/views/img/icon-profile.svg" alt="Ir para o perfil">
										</div>
										<span class="menu-tooltip">Perfil</span>
									</div>
								</a>
							</li>
							<li class="menu-item col-6 col-sm-4 col-md-12">
								<a href="/clinica-horarios" class="menu-item__target">
									<div class="inner">
										<div class="sprite-painel">
											<img src="/views/img/calendar.svg" alt="Ir para o calendário">
										</div>
										<span class="menu-tooltip">Calendário</span>
									</div>
								</a>
							</li>
							<li class="menu-item col-6 col-sm-4 col-md-12">
								<a href="/clinica-historico" class="menu-item__target">
									<div class="inner">
										<div class="sprite-painel">
											<img src="/views/img/icon-historico.svg" alt="Ir para o Histórico">
										</div>
										<span class="menu-tooltip">Histórico</span>
									</div>
								</a>
							</li>
							<li class="menu-item col-6 col-sm-4 col-md-12">
								<a href="/clinica-perguntas" class="menu-item__target">
									<div class="inner">
										<div class="sprite-painel">
											<img src="/views/img/chat.svg" alt="Ir para as Perguntas">
										</div>
										<span class="menu-tooltip">Perguntas</span>
									</div>
								</a>
							</li>
							<li class="menu-item col-6 col-sm-4 col-md-12">
								<a href="/clinica-financeiro" class="menu-item__target">
									<div class="inner">
										<div class="sprite-painel">
											<img src="/views/img/financeiro.svg" alt="Ir para o Financeiro">
										</div>
										<span class="menu-tooltip">Financeiro</span>
									</div>
								</a>
							</li>
							<li class="menu-item col-6 col-sm-4 col-md-12">
								<a href="/clinica-contabilidade" class="menu-item__target">
									<div class="inner">
										<div class="sprite-painel">
											<img src="/views/img/contabilidade.svg" alt="Ir para Contabilidade">
										</div>
										<span class="menu-tooltip">Contabilidade</span>
									</div>
								</a>
							</li>
							<li class="menu-item col-6 col-sm-4 col-md-12">
								<a href="/logout" class="menu-item__target">
									<div class="inner">
										<div class="sprite-painel">
											<img src="/views/img/sair.png" alt="Fazer logout">
										</div>
										<span class="menu-tooltip">Sair</span>
									</div>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="btn-logout">
					<a class="logout" href="/logout">Sair</a>
				</div>
			</header>
			<section class="section-main__painel">
			
				<section class="box__resultsearch">

					<%- include msg-box.ejs %>
					<!-- <%- include adbox.ejs %> -->