<% if(user) { %>
<div class="msg-box" id="msg_box">
	<div class="container">
		<div class="msg-box__content">
			<div class="btn-close" id="btn_close">x</div>
			<div class="bell-notification">
				<img src="/views/img/sino.png" alt="Bell Icon">
			</div>
			<div class="msg-box__content-inner">
				<h3>Bem-vindo ao Flimed, <strong><%= user.name %></strong>!</h3>
				<% if(user.usertype === 'MEDICO' || user.usertype === 'CLINICA') { %>
					<% if(user.purchasesHistoric.plan.length) { %>
						<% for(let i = 0; i < user.purchasesHistoric.plan.length; i++) { %>
							<% if(user.purchasesHistoric.plan[i].status === 'ativo') { %>
								<p>Seu pacote é o <%= user.purchasesHistoric.plan[i].title %></p>
								<a href="/planos" class="btn btn-msgBox">Alterar</a>
								<% break %>
							<% } %>
						<% } %>
					<% } else { %>
						<p>Você ainda não tem um pacote</p>
						<a href="/planos" class="btn btn-msgBox">Assinar</a>
					<% } %>
				<% } %>
			</div>
		</div>
	</div>
</div>
<% } %>