<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="utf-8" />
    <title>Opps! 404 | Essa página não existe! </title>
    <!-- Libs CSS -->
    <link type="text/css" media="all" href="/views/css/assets/404/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Template CSS -->
    <link type="text/css" media="all" href="/views/css/assets/404/css/style.css" rel="stylesheet" />
    <!-- Responsive CSS -->
    <link type="text/css" media="all" href="/views/css/assets/404/css/respons.css" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="views/img/favicon.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="views/img/favicon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="views/img/favicon.png" />
    <link rel="apple-touch-icon" href="views/img/favicon.png" />
    <link rel="shortcut icon" href="/views/img/favicon.png" />
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

</head>
<body>



    <!-- Content Wrapper -->
    <div id="wrapper">
        <div class="container">

            <!-- Info -->
            <div class="info">
                <h1>Opps! <br />Você tem alguns  <br />problemas</h1>
                <p>A página que você está procurando foi movida, removida, renomeada ou  <br />pode nunca ter existido.</p>
                <a href="https://flimed.com" class="btn">Ir para Inicio</a>
            </div>
            <!-- end Info -->

            <!-- Giraffe -->
            <div class="giraffe">
                <div class="eye"></div>
            </div>
            <!-- end Giraffe -->

        </div>
        <!-- end container -->
    </div>
    <!-- end Content Wrapper -->


    <!-- Scripts -->
    <script src="/views/css/assets/404/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/views/css/assets/404/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/views/css/assets/404/js/modernizr.custom.js" type="text/javascript"></script>
    <script src="/views/css/assets/404/js/scripts.js" type="text/javascript"></script>

</body>

</html>