<%- include includes/header-clinica.ejs %>

<section class="box__panel">
	<div class="container">
		<div class="financeiro__box">
			<div class="financeiro__title">
				<h3>Lista de serviço</h3>
			</div>
			<table class="table table-dashed">
				<thead>
					<tr>
						<th scope="col">NOME</th>
						<th scope="col">TOTAL/PACIENTE</th>
						<th scope="col">ESPECIALIDADE</th>
						<th scope="col">DATA</th>
						<th scope="col">HORAS/SERVIÇO</th>
						<th scope="col">ACORDO MÉDICO</th>
						<th scope="col">AÇAO</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row"><span class="circle-presente"></span> Joseph Jenkins</th>
						<td>10 pacientes</td>
						<td>Cardiologista</td>
						<td>01/01/2018</td>
						<td>153 horas</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row"><span class="circle-presente"></span> Joseph Jenkins</th>
						<td>10 pacientes</td>
						<td>Cardiologista</td>
						<td>01/01/2018</td>
						<td>153 horas</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row"><span class="circle-presente"></span> Joseph Jenkins</th>
						<td>10 pacientes</td>
						<td>Cardiologista</td>
						<td>01/01/2018</td>
						<td>153 horas</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row"><span class="circle-presente"></span> Joseph Jenkins</th>
						<td>10 pacientes</td>
						<td>Cardiologista</td>
						<td>01/01/2018</td>
						<td>153 horas</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row"><span class="circle-presente"></span> Joseph Jenkins</th>
						<td>10 pacientes</td>
						<td>Cardiologista</td>
						<td>01/01/2018</td>
						<td>153 horas</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row"><span class="circle-presente"></span> Joseph Jenkins</th>
						<td>10 pacientes</td>
						<td>Cardiologista</td>
						<td>01/01/2018</td>
						<td>153 horas</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row"><span class="circle-presente"></span> Joseph Jenkins</th>
						<td>10 pacientes</td>
						<td>Cardiologista</td>
						<td>01/01/2018</td>
						<td>153 horas</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row"><span class="circle-presente"></span> Joseph Jenkins</th>
						<td>10 pacientes</td>
						<td>Cardiologista</td>
						<td>01/01/2018</td>
						<td>153 horas</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row"><span class="circle-presente"></span> Joseph Jenkins</th>
						<td>10 pacientes</td>
						<td>Cardiologista</td>
						<td>01/01/2018</td>
						<td>153 horas</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row"><span class="circle-presente"></span> Joseph Jenkins</th>
						<td>10 pacientes</td>
						<td>Cardiologista</td>
						<td>01/01/2018</td>
						<td>153 horas</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
				</tbody>
			</table>
			<div class="footer-table">
				<div class="footer-table-l">
					<a href="" class="btn btn-gradient">ENVIAR POR E-MAIL</a>
					<ul class="list-legenda">
						<li><span class="circle-presente"></span> Presente</li>
						<li><span class="circle-faltou"></span> Perdido</li>
					</ul>
				</div>
				<div class="footer-table-r">
					<div class="pagination">
						<div class="number">1 à 40</div>
						<div class="arrow">
							<div class="arrow__item"><</div>
							<div class="arrow__item">|</div>
							<div class="arrow__item">></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>

<%- include includes/footer.ejs %>
