<%- include includes/header-clinica.ejs %>

<section class="box__panel">
	<div class="container">
		<div class="financeiro__box">
			<div class="financeiro__title">
				<h3>Lista de clientes</h3>
			</div>
			<table class="table table-dashed">
				<thead>
					<tr>
						<th scope="col">NOME</th>
						<th scope="col">GÊNERO</th>
						<th scope="col">ENDEREÇO</th>
						<th scope="col">E-MAIL</th>
						<th scope="col">TELEFONE</th>
						<th scope="col">ACORDO MÉDICO</th>
						<th scope="col">ACÃO</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Joseph Jenkins</th>
						<td>Masculino</td>
						<td>Virginia Beach</td>
						<td>email@email.com</td>
						<td>(85) 3003-0330</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row">Joseph Jenkins</th>
						<td>Masculino</td>
						<td>Virginia Beach</td>
						<td>email@email.com</td>
						<td>(85) 3003-0330</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row">Joseph Jenkins</th>
						<td>Masculino</td>
						<td>Virginia Beach</td>
						<td>email@email.com</td>
						<td>(85) 3003-0330</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row">Joseph Jenkins</th>
						<td>Masculino</td>
						<td>Virginia Beach</td>
						<td>email@email.com</td>
						<td>(85) 3003-0330</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row">Joseph Jenkins</th>
						<td>Masculino</td>
						<td>Virginia Beach</td>
						<td>email@email.com</td>
						<td>(85) 3003-0330</td>
						<td>Hapvida</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
				</tbody>
			</table>
			<div class="footer-table">
				<div class="footer-table-l">
					<a href="" class="btn btn-gradient">CHAT</a>
				</div>
				<div class="footer-table-r">
					<div class="pagination">
						<div class="number">1 àS 40</div>
						<div class="arrow">
							<div class="arrow__item"><</div>
								<div class="arrow__item">|</div>
								<div class="arrow__item">></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		</section>
		
		
	<%- include includes/footer.ejs %>
