<%- include includes/header-clinica.ejs %>

<section class="box__panel clinica-painel">
	<div class="container">
		<div class="row mosaic">
			<div class="col-md-3">
				<div class="mosaic-item cards">
					<p><strong class="number">12</strong> pacientes atendidos hoje</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="mosaic-item cards">
					<p><strong class="number">5</strong> exames realizados hoje</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="mosaic-item cards">
					<p><strong class="number">10</strong> atendimentos totais hoje</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="mosaic-item cards">
					<p><strong class="number">0</strong> paciente faltaram hoje</p>
				</div>
			</div>

			<div class="col-md-12 atendimento-paciente">
				<div class="mosaic-item">
					<div class="row">
						<div class="col-md-4">
						<h2 class="title-mosaic"><strong>Pacientes</strong> do dia</h2>
						</div>
						<div class="col-md-8">
							<form action="/" method="GET" id="pesquisa" class="form">
									<div class="form-group relative d-flex">
										<input type="text" id="pesquisa" placeholder="Faça uma pesquisa">
										<div class="icons-search">
											<a id="filterInput" href="#"><span><img src="/views/img/icone-form.png" alt="Icone form"></span></a>
											<button type="submit"> <span><i class="fa fa-search"></i></span></button>
										</div>
									</div>
							</form>
						</div>
					</div>
					<div class="row paciente-item">
						<div class="col-md-12 d-flex justify-content-between">
							<div class=" col-md-4 info-paciente d-flex">
								<img src="/views/img/foto-paciente.png" alt="Imagem do paciente" class="img-responsive img-paciente">
								<p class="name-paciente">Andre Ribeiro</p>
								<p class="name-convenio">Particular</p>
							</div>
							<div class="horario-paciente">
								<p class="horario-item">08:00 hrs</p>
							</div>
						</div>
						<div class="col-md-12 d-flex justify-content-between">
							<div class="col-md-4 info-paciente d-flex">
								<img src="/views/img/foto-paciente.png" alt="Imagem do paciente" class="img-responsive img-paciente">
								<p class="name-paciente">Andre Ribeiro</p>
								<p class="name-convenio">Particular</p>
							</div>
							<div class=" horario-paciente">
								<p class="horario-item">08:00 hrs</p>
							</div>
						</div>
						<div class="col-md-12 d-flex justify-content-between">
							<div class="col-md-4 info-paciente d-flex">
								<img src="/views/img/foto-paciente.png" alt="Imagem do paciente" class="img-responsive img-paciente">
								<p class="name-paciente">Andre Ribeiro</p>
								<p class="name-convenio">Particular</p>
							</div>
							<div class="horario-paciente">
								<p class="horario-item">08:00 hrs</p>
							</div>
						</div>
					
					</div>
					<div class="row addAtendimento">
						<a href="#" class="btn btn-gradient" id="addAtendimento">Adicionar um novo atendimento </a>
					</div>
				</div>
			</div>

			<div class="col-md-12 atendimento-paciente">
				<div class="mosaic-item">
					<div class="row">
						<div class="col-md-4">
						<h2 class="title-mosaic"><strong>Médicos</strong> do dia</h2>
						</div>
						<div class="col-md-8">
							<form action="/" method="GET" id="pesquisa" class="form">
									<div class="form-group relative d-flex">
										<input type="text" id="pesquisa" placeholder="Faça uma pesquisa">
										<div class="icons-search">
											<a id="filterInput" href="#"><span><img src="/views/img/icone-form.png" alt="Icone form"></span></a>
											<button type="submit"> <span><i class="fa fa-search"></i></span></button>
										</div>
									</div>
							</form>
						</div>
					</div>
					<div class="row paciente-item">
						<div class="col-md-12 d-flex justify-content-between">
							<div class=" col-md-4 info-paciente d-flex">
								<img src="/views/img/foto-paciente.png" alt="Imagem do paciente" class="img-responsive img-paciente">
								<p class="name-paciente">Andre Ribeiro</p>
								<p class="name-convenio">Cardiologista</p>
							</div>
							<div class="horario-paciente">
								<p class="horario-item">08:00 hrs</p>
							</div>
						</div>
						<div class="col-md-12 d-flex justify-content-between">
							<div class="col-md-4 info-paciente d-flex">
								<img src="/views/img/foto-paciente.png" alt="Imagem do paciente" class="img-responsive img-paciente">
								<p class="name-paciente">Andre Ribeiro</p>
								<p class="name-convenio">Cardiologista</p>
							</div>
							<div class=" horario-paciente">
								<p class="horario-item">08:00 hrs</p>
							</div>
						</div>
						<div class="col-md-12 d-flex justify-content-between">
							<div class="col-md-4 info-paciente d-flex">
								<img src="/views/img/foto-paciente.png" alt="Imagem do paciente" class="img-responsive img-paciente">
								<p class="name-paciente">Andre Ribeiro</p>
								<p class="name-convenio">Cardiologista</p>
							</div>
							<div class="horario-paciente">
								<p class="horario-item">08:00 hrs</p>
							</div>
						</div>
					
					</div>
					<div class="row addAtendimento">
						<a href="#" class="btn btn-gradient" id="addAtendimento">Adicionar um médico ao dia </a>
					</div>
				</div>
			</div>
			<div class="col-md-12 atendimento-paciente medicoXpapciente">
				<div class="mosaic-item">
					<div class="row">
						<div class="col-md-4">
						<h2 class="title-mosaic"><strong>Médicos</strong> x Pacientes</h2>
						</div>
						<div class="col-md-8">
							<form action="/" method="GET" id="pesquisa" class="form">
									<div class="form-group relative d-flex">
										<input type="text" id="pesquisa" placeholder="Faça uma pesquisa">
										<div class="icons-search">
											<a id="filterInput" href="#"><span><img src="/views/img/icone-form.png" alt="Icone form"></span></a>
											<button type="submit"> <span><i class="fa fa-search"></i></span></button>
										</div>
									</div>
							</form>
						</div>
					</div>
					<div class="row paciente-item">
						<div class="col-md-12 d-flex justify-content-between">
							<div class=" col-md-4 info-paciente d-flex">
								<img src="/views/img/foto-paciente.png" alt="Imagem do paciente" class="img-responsive img-paciente">
								<p class="name-paciente">Dr Roberto Alves</p>
								<p class="name-convenio">Atende</p>
							</div>
							<div class=" col-md-4 info-paciente d-flex">
								<img src="/views/img/foto-paciente.png" alt="Imagem do paciente" class="img-responsive img-paciente">
								<p class="name-paciente">João da Silva</p>
								<p class="name-convenio">Unimed</p>
							</div>
							<div class="horario-paciente">
								<p class="horario-item">08:00 hrs</p>
							</div>
						</div>
					
					</div>
					<div class="row addAtendimento">
						<a href="#" class="btn btn-gradient" id="addAtendimento">Adicionar novo médicoxpaciente </a>
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>

<%- include includes/footer.ejs %>
