<%- include includes/header-clinica.ejs %>

<section class="box__panel clinica-medicamentos">
	<div class="container">
		<div class="financeiro__box">
			<div class="financeiro__title">
				<h3>Lista de Medicamentos</h3>
			</div>
			<table class="table table-dashed">
				<thead>
					<tr>
						<th scope="col">NOME</th>
						<th scope="col">GENÉRICO</th>
						<th scope="col">REDE</th>
						<th scope="col">FARMACIA</th>
						<th scope="col">CONTRA-INDICAÇÕES</th>
						<th scope="col">PRÊMIO</th>
						<th scope="col">AÇÃO</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Tylenol</th>
						<td>Paracetamol</td>
						<td>Drogasil</td>
						<td>Pague menos</td>
						<td>Bebida alcoólica</td>
						<td>R$ 14,99</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row">Tylenol</th>
						<td>Paracetamol</td>
						<td>Drogasil</td>
						<td>Pague menos</td>
						<td>Bebida alcoólica</td>
						<td>R$ 14,99</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row">Tylenol</th>
						<td>Paracetamol</td>
						<td>Drogasil</td>
						<td>Pague menos</td>
						<td>Bebida alcoólica</td>
						<td>R$ 14,99</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row">Tylenol</th>
						<td>Paracetamol</td>
						<td>Drogasil</td>
						<td>Pague menos</td>
						<td>Bebida alcoólica</td>
						<td>R$ 14,99</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
					<tr>
						<th scope="row">Tylenol</th>
						<td>Paracetamol</td>
						<td>Drogasil</td>
						<td>Pague menos</td>
						<td>Bebida alcoólica</td>
						<td>R$ 14,99</td>
						<td><a href="" class="btn-gradient">EDITAR</a></td>
					</tr>
				</tbody>
			</table>
			<div class="footer-table">
				<div class="footer-table-l">
					<a href="" class="btn btn-gradient">CHAT</a>
				</div>
				<div class="footer-table-r">
					<div class="pagination">
						<div class="number">1 à 40</div>
						<div class="arrow">
							<div class="arrow__item"><</div>
								<div class="arrow__item">|</div>
								<div class="arrow__item">></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		</section>



	<%- include includes/footer.ejs %>
