<!doctype html>
<html class="no-js" lang="pt-br">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Flimed</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="manifest" href="/views/site.webmanifest">
		<link rel="apple-touch-icon" href="/views/icon.png">

		<link rel="stylesheet" href="/views/css/style.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="/views/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
		
		<!-- CSS Alertify -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
		<!-- Default theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
		<!-- Semantic UI theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css"/>
		<!-- Bootstrap theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
	</head>

	<body>
		<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
		<main class="main">
			<header class="header">
				<div class="container">
					<figure class="logo">
						<a href="/"><img src="views/home/assets/images/logotipo.svg" alt="Logo Flimed"></a>
					</figure>
					<!--<div class="header-visitor">
					<span class="header-visitor__isdoctor">Você é um médico?</span>
					<a href="" class="btn btn-gradient">Cadastre-se</a>
					<a href="" class="btn btn-clean">Fazer Login</a>
					</div>-->
				</div>
			</header>
			<section class="section-main">

				<section class="box__main box__login">
					<div class="container">
						<form action="/esqueci-minha-senha" method="POST" class="form">
							<div class="row">
								<div class="col-md-6">
									<h2>Recuperar sua senha:</h2>
									<input type="email" name="email" placeholder="E-MAIL">
									<div class="row">
										<div class="col-md-6">
											<input type="submit" class="btn btn-gradient" value="ENVIAR">
										</div>
										<div class="col-md-6">
											<a href="/cliente-cadastro" class="btn btn-clean">CADASTRE-SE</a>
										</div>
									</div>
								</div>
							</div>
						</form>
						<div class="bg-gradient">
							<img src="/views/img/shadows.png" alt="BG Imagem" class="bg-shadows">
						</div>
					</div>
				</section>

				<%- include includes/footer.ejs %>

				</body>
			</html>
