<!doctype html>
<html class="no-js" lang="pt-br">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Cadastro</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="manifest" href="/views/site.webmanifest">
		    <!-- Favicons -->
    	<link rel="apple-touch-icon" sizes="144x144" href="views/img/favicon.png" />
    	<link rel="apple-touch-icon" sizes="114x114" href="views/img/favicon.png" />
    	<link rel="apple-touch-icon" sizes="72x72" href="views/img/favicon.png" />
    	<link rel="apple-touch-icon" href="views/img/favicon.png" />
    	<link rel="shortcut icon" href="/views/img/favicon.png" />

		<link rel="stylesheet" href="/views/css/style.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="/views/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
		
		<!-- CSS Alertify -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
		<!-- Default theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
		<!-- Semantic UI theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css"/>
		<!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
	</head>

	<body>
		<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
		<main class="main">
			<section class="h-100">
				<section class="box__main box__login">
					<div class="container">
						<div id="page-login" class="form d-flex justify-content-center txt-center">
							<div class="row justify-content-center">
								<div class="col-md-7 col-sm-12 ">
                  <div class="d-flex justify-content-center">
                    <figure class="figure-logo">
                        <a href="/"><img src="views/img/icon-flimed.svg" alt="Logo Flimed"></a>
                      </figure>
                  </div>
                  <h2>Cadastro</h2>
                  <ul class="nav nav-pills mb-4 d-flex justify-content-between" id="pills-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Médico</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Clínica</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Paciente</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                          <form action="/" method="POST">
                            <input type="email" name="email" placeholder="E-mail">
                            <input type="password" name="password" placeholder="Senha">
                            <input type="password" name="password-repet" placeholder="Repetir senha">
                            <div class="row">
                                <div class="col-md-12 pb-3">
                                  <input type="submit" class="btn btn-gradient" value="LOGIN">
                                </div>
                                <div class="col-md-12">
                                  <div class="txt-center">
                                    <a href="/esqueci-minha-senha" class="btn-forgotPass">JÁ TEM UMA CONTA?</a>
                                  </div>
                                </div>
                              </div>
                          </form>
                          </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">                  
                            <form action="/" method="POST">
                              <input type="email" name="email" placeholder="E-mail">
                              <input type="password" name="password" placeholder="Senha">
                              <input type="password" name="password-repet" placeholder="Repetir senha">
                              <div class="row">
                                  <div class="col-md-12 pb-3">
                                    <input type="submit" class="btn btn-gradient" value="LOGIN">
                                  </div>
                                  <div class="col-md-12">
                                    <div class="txt-center">
                                      <a href="/esqueci-minha-senha" class="btn-forgotPass">JÁ TEM UMA CONTA?</a>
                                    </div>
                                  </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <form action="/" method="POST">
                              <input type="email" name="email" placeholder="E-mail">
                              <input type="password" name="password" placeholder="Senha">
                              <input type="password" name="password-repet" placeholder="Repetir senha">
                              <div class="row">
                                  <div class="col-md-12 pb-3">
                                    <input type="submit" class="btn btn-gradient" value="LOGIN">
                                  </div>
                                  <div class="col-md-12">
                                    <div class="txt-center">
                                      <a href="/esqueci-minha-senha" class="btn-forgotPass">JÁ TEM UMA CONTA?</a>
                                    </div>
                                  </div>
                                </div>
                            </form>
                        </div>
                      </div>
								</div>
							</div>
						</div>
					</div>
        </section>
        

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
