<%- include includes/header-medico.ejs %>

<section class="box__panel medico-financeiro">
    <div class="container">
        <div class="row mosaic">
            <div class="col-md-3">
                <div class="mosaic-item cards">
                    <p><strong class="number">0</strong> Pacientes do Dia</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mosaic-item cards">
                    <p><strong class="number">0</strong> Pacientes do Mês</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mosaic-item cards">
                    <p><strong class="number">0</strong> Atendimento</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mosaic-item cards">
                    <p><strong class="number">0</strong> Faltaram</p>
                </div>
            </div>
            <div class="col-md-12 atendimento-paciente contabilidade first">
                <div class="mosaic-item">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="title-mosaic"><strong>Funcionarios</strong></h2>
                        </div>
                        <div class="col-md-8">
                            <form action="/" method="GET" id="pesquisa" class="form">
                                <div class="form-group relative d-flex">
                                    <input type="text" id="pesquisa" placeholder="Faça uma pesquisa">
                                    <div class="icons-search">
                                        <a id="filterInput" href="#"><span><img src="/views/img/icone-form.png"
                                                    alt="Icone form"></span></a>
                                        <button type="submit"> <span><i class="fa fa-search"></i></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="indices d-flex align-items-center">
                        <div class="nome item">
                            <p>Nome</p>
                        </div>
                        <div class="cpf item">
                            <p>CPF</p>
                        </div>
                        <div class="data item">
                            <p>Data</p>
                        </div>
                        <div class="cargo item">
                            <p>Cargo</p>
                        </div>
                        <div class="situacao item">
                            <p>Situação</p>
                        </div>
                        <div class="acao item">
                            <p>Ações</p>
                        </div>
                    </div>
                    <div class="info d-flex">
                        <div class="nome">
                            <p><span class="none">Nome:</span> Anderson</p>
                        </div>
                        <div class="convenio cpf">
                            <p><span class="none">CPF:</span> 000.000.000-00</p>
                        </div>
                        <div class="data">
                            <p><span class="none">Data:</span> 13/02/2019</p>
                        </div>
                        <div class="cargo">
                            <p><span class="none">Cargo:</span> Enfermeira</p>
                        </div>
                        <div class="situacao">
                            <p><span class="none">Situação:</span> Ativa</p>
                        </div>
                        <div class="action">
                            <span class="none">Ação:</span>
                            <a class="ver-mais" id="verFuncionario">Ver mais</a>
                        </div>
                    </div>
                    <div class="row addFuncionario">
                        <a href="#" class="btn btn-gradient" id="addFuncionario">Adicionar um novo funcionário </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 atendimento-paciente contabilidade">
                <div class="mosaic-item">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="title-mosaic"><strong>Contas</strong> Bancárias</h2>
                        </div>
                        <div class="col-md-8">
                            <form action="/" method="GET" id="pesquisa" class="form">
                                <div class="form-group relative d-flex">
                                    <input type="text" id="pesquisa" placeholder="Faça uma pesquisa">
                                    <div class="icons-search">
                                        <a id="filterInput" href="#"><span><img src="/views/img/icone-form.png"
                                                    alt="Icone form"></span></a>
                                        <button type="submit"> <span><i class="fa fa-search"></i></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="indices d-flex align-items-center">
                        <div class="nome item">
                            <p>Nome do banco</p>
                        </div>
                        <div class="account item">
                            <p>Número da conta</p>
                        </div>
                        <div class="agency item">
                            <p>Agência Bancária</p>
                        </div>
                        <div class="cargo item">
                            <p>Tipo de conta</p>
                        </div>
                        <div class="acao item">
                            <p>Ação</p>
                        </div>
                    </div>
                    <div class="info d-flex">
                        <div class="nome">
                            <p><span class="none">Nome do banco:</span> Caixa</p>
                        </div>
                        <div class="convenio cpf">
                            <p><span class="none">Número da conta:</span> 0000</p>
                        </div>
                        <div class="data">
                            <p><span class="none">Agência Bancária:</span> 0000</p>
                        </div>
                        <div class="cargo">
                            <p><span class="none">Tipo de conta:</span> Corrente</p>
                        </div>
                        <div class="action">
                            <span class="none">Ação:</span>
                            <a class="ver-mais" id="verMaisContaBancaria">Ver mais</a>
                        </div>
                    </div>
                    <div class="row addContaBancaria">
                        <a href="#" class="btn btn-gradient" id="addContaBancaria">Adicionar uma nova conta bancária</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 atendimento-paciente contabilidade valor-consulta">
                <div class="mosaic-item">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="title-mosaic"><strong>Valor</strong> da consulta</h2>
                        </div>
                    </div>
                    <div class="indices d-flex align-items-center">
                        <div class="nome item">
                            <p>Valor</p>
                        </div>
                        <div class="acao item">
                            <p>Ação</p>
                        </div>
                    </div>
                    <div class="info d-flex">
                        <div class="nome">
                            <p><span class="none">Valor:</span> R$ 200,00</p>
                        </div>
                        <div class="action">
                            <span class="none">Ação:</span>
                            <a class="ver-mais" id="editarConsulta">EDITAR</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 atendimento-paciente contabilidade convenios">
                <div class="mosaic-item">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="title-mosaic"><strong>Convênios</strong></h2>
                        </div>
                        <div class="col-md-8">
                            <form action="/" method="GET" id="pesquisa" class="form">
                                <div class="form-group relative d-flex">
                                    <input type="text" id="pesquisa" placeholder="Faça uma pesquisa">
                                    <div class="icons-search">
                                        <a id="filterInput" href="#"><span><img src="/views/img/icone-form.png"
                                                    alt="Icone form"></span></a>
                                        <button type="submit"> <span><i class="fa fa-search"></i></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="indices d-flex align-items-center">
                        <div class="nome item">
                            <p>Nome</p>
                        </div>
                        <div class="acao item">
                            <p>Ação</p>
                        </div>
                    </div>
                    <div class="info d-flex">
                        <div class="nome">
                            <p><span class="none">Nome:</span>Unimed</p>
                        </div>
                        <div class="action">
                            <span class="none">Ação:</span>
                            <a class="ver-mais" id="EditarConvenio">EDITAR</a>
                        </div>
                    </div>
                    <div class="row addConvenio">
                        <a href="#" class="btn btn-gradient" id="addConvenio">Adicionar um novo convênio</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 atendimento-paciente contabilidade">
                <div class="mosaic-item">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="title-mosaic"><strong>Fornecedores</strong></h2>
                        </div>
                        <div class="col-md-8">
                            <form action="/" method="GET" id="pesquisa" class="form">
                                <div class="form-group relative d-flex">
                                    <input type="text" id="pesquisa" placeholder="Faça uma pesquisa">
                                    <div class="icons-search">
                                        <a id="filterInput" href="#"><span><img src="/views/img/icone-form.png"
                                                    alt="Icone form"></span></a>
                                        <button type="submit"> <span><i class="fa fa-search"></i></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="indices d-flex align-items-center">
                        <div class="nome item">
                            <p>Nome</p>
                        </div>
                        <div class="telefone item">
                            <p>Telefone</p>
                        </div>
                        <div class="data item">
                            <p>Descrição</p>
                        </div>
                        <div class="cargo item">
                            <p>Plano de Contas</p>
                        </div>
                        <div class="acao item">
                            <p>Ação</p>
                        </div>
                    </div>
                    <div class="info d-flex">
                        <div class="nome">
                            <p> <span class="none">Nome:</span> Fornecedor</p>
                        </div>
                        <div class="data">
                            <p><span class="none">Telefone:</span> 0000-0000</p>
                        </div>
                        <div class="cargo">
                            <p><span class="none">Descrição:</span>Equipamento</p>
                        </div>
                        <div class="situacao">
                            <p><span class="none">Plano de contas:</span>Plano</p>
                        </div>
                        <div class="action">
                            <span class="none">Ação:</span>
                            <a class="ver-mais" id="editarFornecedor">Ver mais</a>
                        </div>
                    </div>
                    <div class="row addFornecedor">
                        <a href="#" class="btn btn-gradient" id="addFornecedor">Adicionar fornecedor</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 atendimento-paciente contabilidade">
                <div class="mosaic-item">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="title-mosaic"><strong>Estoque</strong></h2>
                        </div>
                        <div class="col-md-8">
                            <form action="/" method="GET" id="pesquisa" class="form">
                                <div class="form-group relative d-flex">
                                    <input type="text" id="pesquisa" placeholder="Faça uma pesquisa">
                                    <div class="icons-search">
                                        <a id="filterInput" href="#"><span><img src="/views/img/icone-form.png"
                                                    alt="Icone form"></span></a>
                                        <button type="submit"> <span><i class="fa fa-search"></i></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="indices d-flex align-items-center">
                        <div class="nome item">
                            <p>Nome</p>
                        </div>
                        <div class="telefone item">
                            <p>Medicamento</p>
                        </div>
                        <div class="data item">
                            <p>Quantidade</p>
                        </div>
                        <div class="acao item">
                            <p>Ação</p>
                        </div>
                    </div>
                    <div class="info d-flex">
                        <div class="nome">
                            <p> <span class="none">Nome:</span> Medicamento</p>
                        </div>
                        <div class="data">
                            <p><span class="none">Medicamento:</span> Medicamento</p>
                        </div>
                        <div class="cargo">
                            <p><span class="none">Quantidade:</span> 100</p>
                        </div>
                        <div class="action">
                            <span class="none">Ação:</span>
                            <a class="ver-mais" id="editarMedicamento">Ver mais</a>
                        </div>
                    </div>
                    <div class="row addMedicamento">
                        <a href="#" class="btn btn-gradient" id="addMedicamento">Adicionar medicamento</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 atendimento-paciente contabilidade documentos">
                <div class="mosaic-item">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="title-mosaic"><strong>Lista</strong> de documentos</h2>
                        </div>
                        <div class="col-md-8">
                            <form action="/" method="GET" id="pesquisa" class="form">
                                <div class="form-group relative d-flex">
                                    <input type="text" id="pesquisa" placeholder="Faça uma pesquisa">
                                    <div class="icons-search">
                                        <a id="filterInput" href="#"><span><img src="/views/img/icone-form.png"
                                                    alt="Icone form"></span></a>
                                        <button type="submit"> <span><i class="fa fa-search"></i></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="indices d-flex align-items-center">
                        <div class="nome item">
                            <p>Título</p>
                        </div>
                        <div class="type item">
                            <p>Tipo</p>
                        </div>
                        <div class="cargo item">
                            <p>Data de envio</p>
                        </div>
                        <div class="download item">
                            <p>Download</p>
                        </div>
                        <div class="acao item">
                            <p>Ação</p>
                        </div>
                    </div>
                    <div class="info d-flex">
                        <div class="nome">
                            <p><span class="none">Título:</span> Serviços</p>
                        </div>
                        <div class="convenio cpf">
                            <p><span class="none">Tipo:</span>XML</p>
                        </div>
                        <div class="cargo">
                            <p><span class="none">Data de envio:</span> 12/04/2019</p>
                        </div>
                        <div class="baixar">
                            <span class="none">Download:</span>
                            <a class="baixar" id="baixarDownload">BAIXAR</a>
                        </div>
                        <div class="action">
                            <span class="none">Ação:</span>
                            <a class="ver-mais" id="verDocumento">Ver mais</a>
                        </div>
                    </div>
                    <div class="row addDocumento">
                        <a href="#" class="btn btn-gradient" id="addDocumento">Adicionar documento</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 atendimento-paciente contabilidade guia">
                <div class="mosaic-item">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="title-mosaic"><strong>Guia</strong> de recolhimento</h2>
                        </div>
                        <div class="col-md-8">
                            <form action="/" method="GET" id="pesquisa" class="form">
                                <div class="form-group relative d-flex">
                                    <input type="text" id="pesquisa" placeholder="Faça uma pesquisa">
                                    <div class="icons-search">
                                        <a id="filterInput" href="#"><span><img src="/views/img/icone-form.png"
                                                    alt="Icone form"></span></a>
                                        <button type="submit"> <span><i class="fa fa-search"></i></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="indices d-flex align-items-center">
                        <div class="nome item">
                            <p>Descrição</p>
                        </div>
                        <div class="cpf item">
                            <p>Vencimento</p>
                        </div>
                        <div class="data item">
                            <p>Valor total</p>
                        </div>
                        <div class="cargo item">
                            <p>Guia</p>
                        </div>
                        <div class="acao item">
                            <p>Declaração</p>
                        </div>
                    </div>
                    <div class="info d-flex">
                        <div class="nome">
                            <p><span class="none">Descrição:</span>DAS</p>
                        </div>
                        <div class="data">
                            <p><span class="none">Vencimento:</span> 12/04/2019</p>
                        </div>
                        <div class="cargo">
                            <p><span class="none">Valor total:</span>R$ 47,99</p>
                        </div>
                        <div class="baixar">
                            <span class="none">Guia:</span>
                            <a class="baixar" id="baixarGuia">BAIXAR</a>
                        </div>
                        <div class="action">
                            <span class="none">Desclaração:</span>
                            <a class="ver-mais" id="verGuia">Ver mais</a>
                        </div>
                    </div>
                    <div class="row addNovaGuia">
                        <a href="#" class="btn btn-gradient" id="addNovaGuia">Adicionar guia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<%- include includes/footer.ejs %>
</body>

</html>