<%- include includes/header-medico.ejs %>

<section class="box__panel medico-financeiro">
    <div class="container">
        <div class="row mosaic">
            <div class="col-md-3">
                <div class="mosaic-item cards">
                    <p><strong class="number">0</strong> Pacientes do Dia</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mosaic-item cards">
                    <p><strong class="number">0</strong> Pacientes do Mês</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mosaic-item cards">
                    <p><strong class="number">0</strong> Atendimento</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mosaic-item cards">
                    <p><strong class="number">0</strong> Faltaram</p>
                </div>
            </div>
            <div class="col-md-12 atendimento-paciente financeiro receita historico">
                <div class="mosaic-item">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="title-mosaic"><strong>Funcionarios</strong></h2>
                        </div>
                        <div class="col-md-8">
                            <form action="/" method="GET" id="pesquisa" class="form">
                                <div class="form-group relative d-flex">
                                    <input type="text" id="pesquisa" placeholder="Faça uma pesquisa">
                                    <div class="icons-search">
                                        <a id="filterInput" href="#"><span><img src="/views/img/icone-form.png"
                                                    alt="Icone form"></span></a>
                                        <button type="submit"> <span><i class="fa fa-search"></i></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="indices d-flex align-items-center">
                        <div class="nome item">
                            <p>Nome</p>
                        </div>
                        <div class="cpf item">
                            <p>CPF</p>
                        </div>
                        <div class="data item">
                            <p>Data</p>
                        </div>
                        <div class="cargo item">
                            <p>Cargo</p>
                        </div>
                        <div class="situacao item">
                            <p>Situcação</p>
                        </div>
                        <div class="acao item">
                            <p>Ações</p>
                        </div>
                    </div>
                    <div class="info d-flex">
                        <div class="nome">
                            <p>Anderson</p>
                        </div>
                        <div class="convenio cpf">
                            <p>000.000.000-00</p>
                        </div>
                        <div class="data">
                            <p>13/02/2019</p>
                        </div>
                        <div class="cargo">
                            <p>Enfermeira</p>
                        </div>
                        <div class="situacao">
                            <p>Ativa</p>
                        </div>
                        <div class="action">
                            <a class="ver-mais" id="VerMaisFuncionarios">Ver mais</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 addNovaReceita">
                <a href="#" class="btn btn-gradient" id="addNovaReceita">Adicionar uma nova receita</a>
            </div>
        </div>
    </div>
    </div>
</section>

<%- include includes/footer.ejs %>
</body>

</html>