<%- include includes/header.ejs %>

<section class="box__advancedsearch">
	<div class="breadcrumbs">
		<div class="container">
			<p id="breadcrumbs">
				<span>
					<span>
						<a href="https://www.conexao.com/">Inicio</a> » <strong class="breadcrumb_last">Page</strong>
					</span>
				</span>
			</p>                
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="form-search form">
					<p class="h3">Cadastre-se</p>
					<p>Escolha sua categoria abaixo:</p>
					<span class="io-toggler" data-io="1">
						<span class="io-options">
							<span class="clinica">Centro médico</span>
							<span class="doctors">Profissional de saúde</span>
						</span>
					</span>
					
					<div class="cadastro-box">
						<form action="" class="form-cadastro profissional-saude active">
							<div class="row">
								<div class="col-md-4">
									<div class="select">
										<select name="" id="">
											<option value="">Especialidade</option>
											<option value="">Cardiologista</option>
											<option value="">Neurologista</option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="select">
										<select name="" id="">
											<option value="">Gênero</option>
											<option value="">Masculino</option>
											<option value="">Femenino</option>
										</select>
									</div>
								</div>

								<div class="col-md-4">
									<input type="text" name="" placeholder="Cidade">
								</div>

								<div class="col-md-7">
									<input type="text" name="" placeholder="Nome completo">
								</div>

								<div class="col-md-5">
									<input type="tel" name="" placeholder="Telefone">
								</div>

								<div class="col-md-12">
									<input type="email" name="" placeholder="E-mail">
								</div>

								<div class="col-md-6">
									<input type="password" name="" placeholder="Senha">
								</div>

								<div class="col-md-6">
									<input type="password" name="" placeholder="Senha">
								</div>

								<div class="col-md-4">
									<input type="submit" class="btn btn-gradient" value="Cadastre-se">
								</div>
							</div>
						</form>

						<form action="" class="form-cadastro centro-medico">
							<div class="row">
								<div class="col-md-4">
									<div class="select">
										<select name="" id="">
											<option value="">Consultório</option>
											<option value="">Opção 1</option>
											<option value="">Opção 2</option>
										</select>
									</div>
								</div>

								<div class="col-md-4">
									<input type="text" name="" placeholder="CNPJ">
								</div>

								<div class="col-md-4">
									<input type="text" name="" placeholder="Código">
								</div>

								<div class="col-md-6">
									<input type="text" name="" placeholder="Nome do Centro Médico">
								</div>

								<div class="col-md-6">
									<input type="tel" name="" placeholder="Endereço">
								</div>

								<div class="col-md-6">
									<input type="email" name="" placeholder="E-mail">
								</div>

								<div class="col-md-6">
									<input type="tel" name="" placeholder="Telefone">
								</div>

								<div class="col-md-6">
									<input type="password" name="" placeholder="Senha">
								</div>

								<div class="col-md-6">
									<input type="password" name="" placeholder="Senha">
								</div>

								<div class="col-md-4">
									<input type="submit" class="btn btn-gradient" value="Cadastre-se">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<figure class="fig-doctors">
					<img src="/views/img/person-doctors_register.png" alt="Imagem Doutores">
				</figure>
			</div>
		</div>
	</div>
</section>

<%- include includes/footer.ejs %>

</body>
</html>
