<!doctype html>
<html class="no-js" lang="pt-br">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Flimed</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="manifest" href="/views/site.webmanifest">
		    <!-- Favicons -->
    	<link rel="apple-touch-icon" sizes="144x144" href="views/img/favicon.png" />
    	<link rel="apple-touch-icon" sizes="114x114" href="views/img/favicon.png" />
    	<link rel="apple-touch-icon" sizes="72x72" href="views/img/favicon.png" />
    	<link rel="apple-touch-icon" href="views/img/favicon.png" />
    	<link rel="shortcut icon" href="/views/img/favicon.png" />

		<link rel="stylesheet" href="/views/css/style.css">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="/views/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
		
		<!-- CSS Alertify -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
		<!-- Default theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
		<!-- Semantic UI theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css"/>
		<!-- Bootstrap theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
	</head>

	<body>
		<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

				<main class="main">
						<section class="h-100 box-login">
							<section class="box__main box__login">
								<div class="container">
									<div id="page-login" class="row justify-content-center">
										<div class="form d-flex justify-content-center txt-center col-12">
											<div class="col-md-5 col-sm-12 col-res-7">
												<div class="d-flex justify-content-center">
													<figure class="figure-logo">
															<a href="/"><img src="views/img/icon-flimed.svg" alt="Logo Flimed"></a>
														</figure>
												</div>
												<h2>Seja bem vindo ao</h2>
												<div class="d-flex justify-content-center">
														<figure class="logo">
																<img src="views/img/logo-nome.svg" alt="Logo Flimed">
															</figure>
													</div>
													<form id="page-login" class="form" method="POST">
															<div class="row">
																
																<div class="col-md-12">
																	<input type="email" name="email" placeholder="Seu e-mail">
																	<input type="password" name="password" placeholder="Senha">
																	<div class="row action-form">
																		<div class="col-md-12 pb-3">
																			<input type="submit" class="btn btn-gradient" value="LOGAR">
																		</div>
																		<div class="col-md-12">
																			<div class="txt-center">
																				<a href="/esqueci-minha-senha" class="btn btn-forgotPass">Esqueceu sua senha?</a>
																			</div>
																		</div>
																		<div class="col-md-12">
																			<a href="/cliente-cadastro" class="btn">CRIAR NOVA CONTA</a>
																		</div>
																	</div>
												
																</div>
															</div>
														</form>
											</div>
										</div>
									</div>
								</div>
							</section>
							
</body>
</html>
