<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Site Map - Conexão Saúde</title>
</head>
<body>
	
	<ul class="sitemap-list">
		<li>
			<h2>Tela do Paciente:</h2>
			<ul class="sitemap-sublist">
				<li><a href="/">Inicio</a></li>
				<li><a href="/pesquisa-avancada">Busca Avançada</a></li>
				<li><a href="/resultado">Resultado</a></li>
				<li><a href="/medico-detalhe">Detalhe</a></li>
				<li><a href="/marca-consulta">Form</a></li>
			</ul>
		</li>
		<li>
			<h2>Painel do Paciente:</h2>
			<ul class="sitemap-sublist">
				<li><a href="/cliente-cadastro">Cadastre-se</a></li>
				<li><a href="/cliente-painel">Painel do Cliente</a></li>
				<li><a href="/cliente-perfil">Perfil do cliente</a></li>
				<li><a href="/cliente-perguntas">Perguntas do Cliente</a></li>
				<li><a href="/page-question">Questões</a></li>
			</ul>
		</li>
		<li>
			<h2>Páginas médicas:</h2>
			<ul class="sitemap-sublist">
				<li><a href="/page-login">Login</a></li>
				<li><a href="/page-esqueci-minha-senha">Recuperação Minha Senha</a></li>
				<li><a href="/page-cadastro">Cadastre-se</a></li>
				<li><a href="/page-preco">Preço</a></li>
				<li><a href="/medico-painel">Painel Médico</a></li>
				<li><a href="/medico-perfil">Perfil Médico</a></li>
				<li><a href="/medico-financeiro">Financiamento Médico</a></li>
				<li><a href="/medico-atendimento">Cuidados médicos</a></li>
				<li><a href="/medico-anuncios">Anúncios</a></li>
			</ul>
		</li>
		<li>
			<h2>Páginas Clínicas:</h2>
			<ul class="sitemap-sublist">
				<li><a href="/page-cadastro">Cadastre-se</a></li>
				<li><a href="/clinica-painel">Painel Clínico</a></li>
				<li><a href="/clinica-perfil">Perfil Clínicas</a></li>
				<li><a href="/clinica-lista-atendimento">Lista de Assistência Clínica</a></li>
				<li><a href="/clinica-lista-clientes">Lista de Clientes Clínicos</a></li>
				<li><a href="/clinica-medicamentos">Medicamentos</a></li>
			</ul>
		</li>
	</ul>
</body>
</html>