.bg-white {
	padding: 15px;
	background-color: $white;
	border-radius: 4px;
	@extend %box-shadow;
}

.txt-center {
	text-align: center;
}

/* PAGE */
.detail__title {
	padding: 15px;
	background-color: $white;
	border-radius: 4px 4px 0 0;
	
	h3, .h3 {
		font-weight: 300;
		margin: 0;
		
		strong {
			font-weight: bold;
		}
	}
}

/* FORMS */
.form {
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="date"],
	input[type="password"],
	textarea {
		margin-bottom: 15px;
		width: 100%;
		padding: 15px;
		background-color: $white;
		border: none;
		border-radius: 4px;
		font-size: 17px;
	}
	
	textarea {
		min-height: 130px;
		height: 130px;
	}

	input[type="date"] {
		&:before {
			color: $content;
			// content: attr(placeholder) !important;
			background-color: rgba(65,104,136,0.005) !important;
			position: relative;
			width: 80%;
			z-index: 1;
		}
		&:focus:before {
			content: '' !important;
		}
	}
	
	.btn-submitGrad {
		border: 0;
		border-radius: 4px;
		width: 100%;
		color: $white;
		font-size: 25px;
		padding: 15px;
		text-transform: uppercase;
		cursor: pointer;
		display: inline-block;
		@include gradient($blue, $green, horizontal);
		
		&:hover {
			@include gradient($green, $blue, horizontal);
		}
	}

	.select {
		position: relative;
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid $border;
		border-radius: 4px;
		background-color: #FFF;
		margin-bottom: 20px;

		&:before {
			content: '';
			right: 6px;
			top: 4px;
			width: 20px;
			height: 26px;
			position: absolute;
			pointer-events: none;
			display: block;
		}

		&:after {
			content: '';
			background-image: url(#{$url}/img/select_arrow.png);
			background-repeat: no-repeat;
			width: 18px;
			height: 9px;
			right: 10px;
			top: 20px;
			position: absolute;
			pointer-events: none;
		}

		select {
			width: 100%;
			padding: 12px 30px 15px 15px;
			font-size: 18px;
			margin: 0;
			border-radius: 0;
			color: $content;
			outline: none;
			display: inline-block;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
			border: 0;
			background: none;
			
			&.select-icon {
				padding: 15px 30px 15px 45px;
			}
		}		
	}
	
	.label {
		display: block;
		margin-top: 15px;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 20px;
		color: $black;
	}

	.btn {
		text-transform: uppercase;
		text-align: center;
		padding: 15px;
		font-size: 18px;
		cursor: pointer;
	}

	.btn-gradient {
		border: 0;
		width: 100%;
		font-weight: 400;
	}

	.btn-clean {
		width: 100%;
		color: $content;
	}

	.option-radio{
		display: block;
		position: relative;
		padding-left: 43px;
		margin-top: 8px;
		margin-bottom: 20px;
		cursor: pointer;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: normal;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		input {
			position: absolute;
			opacity: 0;
			z-index: 1;
			cursor: pointer;
		}

		&:hover {
			input ~ .checkmark {
				background-color: #ccc;
			}
		}

		input:checked ~ .checkmark {
			background-color: #01e9b1;
		}

		input:checked ~ .checkmark:after {
			display: block;
		}

		.checkmark:after {
			top: 6px;
			left: 6px;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			@include gradient(#01e9b1, #01e9b1, horizontal);
		}
	}

	.checkmark {
		position: absolute;
		top: -6px;
		left: 0;
		height: 30px;
		width: 30px;
		@include gradient(#01e9b1, #01e9b1, horizontal);
		border-radius: 50%;

		&:after {
			content: "";
			position: absolute;
			display: none;
		}

		&:before {
			content: "";
			position: absolute;
			top: 2px;
			left: 2px;
			width: 26px;
			height: 26px;
			border-radius: 50%;
			background: white;
		}
	}
	
	&.bg-inputs {
		.select,
		input[type="text"],
		input[type="email"],
		input[type="tel"],
		input[type="date"],
		input[type="password"],
		textarea {
			border: 0;
			background-color: $bg-input;	
		}
	}
	
	&.form-schedules {
		input[type="text"],
		input[type="email"],
		input[type="tel"],
		input[type="date"],
		input[type="password"],
		textarea {
			border: 0;
			background-color: $bg-input;	
		}
	}
	
	.inputs-checkbox {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		.inputs-checkbox__item {
			display: inline-block;
		}
		
		input[type="checkbox"] {
			border: 0;
			background-color: $border;
			margin: 0 3px 0 10px;
			position: relative;
			top: -1px;
			
			&:first-child {
				margin: 0 3px 0 0;
			}
		}
	}
}

.form-filter {
	&.fin-r {
		.form-searchFilter {
			display: inline-block;
			margin: 0 15px 0 0;
		}
		
		.btn-dark {
			display: inline-block;
			margin: 0 15px 0 0;
		}
		
		.select {
		}
	}
	
	.select {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		border: 0;
		border-radius: 4px;
		background-color: #FFF;
		
		select {
			width: 100%;
			padding: 10px 10px 10px 35px;
			font-size: 14px;
			margin: 0;
			border-radius: 0;
			color: $content;
			outline: none;
			display: inline-block;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
			border: 0;
			background: none;
		}		
	}
}

/* BOTTON */
.btn {
	display: inline-block;
	padding: 10px 13px;
	border-radius: 4px;
	margin-bottom: 10px;

	@extend %box-shadow;
	
	&.w100 {
		width: 100%;
		text-align: center;
	}
}

.btn-radius {
	display: inline-block;
	padding: 8px 10px;
	border-radius: 30px;
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
}

.btn-clean {
	background-color: $white;
	color: $green;

	&:hover {
		background-color: $green;
		color: $white;
	}
}

.btn-gradient {
	@include gradient(#01e9b1, $green, horizontal);
	color: $white;

	// &:hover {
	// 	@include gradient(#01e9b1, $blue, horizontal);
	// }
}

.btn-blue {
	color: $white;
	background-color: $btn-blue;

	&:hover {
		background-color: $blue;
	}
}

.btn-dark {
	color: $white;
	background-color: $content;

	&:hover {
		background-color: $blue;
	}
}

.btn-red {
	color: $white;
	@include gradient($red-t, $red-b, horizontal);

	&:hover {
		@include gradient($red-b, $red-t, horizontal);
	}
}

.btn-border {
	color: $content;
	border: 3px solid $content;
	font-weight: bold;
	font-size: 20px;

	&:hover {
		border: 3px solid $green;
		background-color: $green;
		color: $white;
	}
}

.target-btn {
	text-transform: uppercase;
	border-radius: 30px;
	padding: 15px 25px;
}

.btn-forgotPass {
	text-transform: uppercase;
	color: $content-gray;
	font-size: 14px;
	display: inline-block;
	margin-top: 30px;
}

.btn-msgBox {
	font-size: 12px;
	text-transform: uppercase;
	background-color: $white;
	color: $content;

	&:hover {
		background-color: $green;
		color: $white;
	}
}

/* ASIDE */
.aside-item {
	margin-bottom: 30px;
}

/* SPRITE PAINEL */
[class^="sprite-painel__"], [class*="sprite-painel__"] {
	// background-image: url(/views/img/sprite-painel.png);
	//width: auto;
	width: 40px;
	height: 33px;
	display: block;
	background-size: 63px auto;
	background-position-x: 6px;
	background-repeat: no-repeat;
	margin: 0 auto;
}

$icon: ('home', 'perfil', 'agendamento', 'faq', 'on', 'medicamentos', 'pacientes', 'calendar', 'financeiro');
$count: 0;

@each $item in $icon {
	.sprite-painel__#{$item} {
		background-position-y: -#{$count}px;
	}
	$count: $count + 49;
}

/* SPRITE FORM */
[class^="sprite-form__"], [class*="sprite-form__"] {
	background-image: url(#{$url}img/sprite-form.png);
	background-repeat: no-repeat;
}

.sprite-form__specialty {
	display: inline-block;
	width: 21px;
	height: 20px;
	position: absolute;
	top: 15px;
	left: 15px;
}

.sprite-form__location {
	padding: 15px 15px 15px 45px !important;
	background-position: 15px -46px;
}

.sprite-form__specialist {
	padding: 15px 15px 15px 45px !important;
	background-position: 15px -116px;
}

.sprite-form__date {
	padding: 15px 15px 15px 45px !important;
	background-position: 15px -183px;
}

.sprite-form__filter {
	background-position: 0 -270px;
	width: 22px;
	height: 17px;
	position: absolute;
	top: 10px;
	left: 0;
}

.sprite-form__lupa {
	padding: 10px 10px 10px 45px !important;
	background-position: 13px -326px;
}

.sprite-form__clock {
	padding: 15px 15px 15px 45px !important;
	background-position: 15px -389px;
}

/* SPRITE ATENDIMENTO */
[class^="sprite-check__"], [class*="sprite-check__"] {
	background-image: url(#{$url}img/sprite-check.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 35px;
	margin-right: 15px;
}

.sprite-check__list {
	height: 20px;
	background-position: 0 0;
}
.sprite-check__note {
	height: 40px;
	background-position: 0 -68px;
}
.sprite-check__evo {
	height: 38px;
	background-position: 0 -158px;
}
.sprite-check__budget {
	height: 34px;
	background-position: 0 -246px;
}
.sprite-check__clock {
	height: 40px;
	background-position: 0 -330px;
	vertical-align: middle;
}

/* Page Cadastro médico */
section.h-100 {
	height: 100vh !important;
	background: #F6F9FE;

	ul {
		background: #fff;
		border-radius: 29px;
		margin: 0 auto;
		padding: 3px 0 !important;
		box-shadow: 0 11px 33px rgba(1,233,181,0.09);
		flex-wrap: nowrap;
		li {
			a {
				padding: 10px 20px;
				border-radius: 30px !important;
				text-transform: uppercase;
			}
			a:not(.active) {
				color: #416888;
			}
		}

		li:first-child {
			position: relative;
			left: 1%;
		}

		li:last-child {
			position: relative;
			right: 1%;
		}
	}
	h2 {
		font-weight: normal;
		padding-bottom: 0.3em;
		color: #416888;
	}
	.tab-content {
		form {
			input {
				background-color: rgba(65, 104, 136, 0.05);
				font-size: 1.3em;
			}
			input[type="submit"] {
				box-shadow: 0 11px 33px rgba(1,233,181,0.09);
			}
		}
	}
}

.section-main__painel {
	form {
		input, textarea, select {
			background-color: rgba(65, 104, 136, 0.05) !important;
		}
	}
}

section.box-login {
	.row {
		h2 {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	#page-login {
		padding-top: 50px;

		form {
			input {
				background-color: rgba(65, 104, 136, 0.05);
				font-size: 1.3em;
			}

			.action-form {
				padding-top: 40px;
				
				a.btn-forgotPass {
					margin-top: 0;
					padding-top: 30px;
					color: #4F627D;
				}
				.col-md-12:last-child {
					a {
						padding-top: 50px;
						color: #4F627D;
					}
				}
			}
		}
	}
}

.page-planos {
	padding-top: 100px;
	overflow-x: hidden;
	.welcome {
		.row {
			p {
				font-size: 2.17em;
				color:#4F627D;
				font-weight: 300;
			}
		}
	}

	.price-plan {
		.price-plan__item {
			.recursos {
				p {
					text-transform: uppercase;
					font-size: 18px;
					color: #4F627D;
					padding: 30px 0 20px;
					margin-bottom: 0;
				}
			}
			.price-planos {
				text-align: center;
				padding: 30px 0;
				p {
					font-size: 22px;
					color: #4F627D;
					margin-bottom: 0;
					text-transform: uppercase;
				}
			}
		}
	}
}
.figure-logo img {
	max-width: 80px;
	position: relative;
	left: 3px;
}
.form {
	.selectize-input {
		background-color: rgba(65,104,136,0.05) !important;
	}
}

.row.mosaic {
	.mosaic-item {

		#gallery_media {
			min-height: 150px;
			border: 2px dashed #e1e1e2;
			border-radius: 4px;
			margin-bottom: 30px;
			display: flex;
			color: #e1e1e2;
			background: #fff;
			padding: 20px 20px;
			flex-direction: column;
			justify-content: center;
			box-shadow: none;
		}

		form#buy-banner {

			.form-radio {
				.custom-radio {
					padding-right: 30px;
				}
			}
			.add-image-pop-up {
				padding: 30px 15px;
				border: 1px dashed #000; 
				margin: 30px 15px;
			}

			.col-md-12 {
				#file_ads {
					display: flex;
					justify-content: center;
					flex-direction: column;
					.dz-message {
						margin: 0;
					}
				}
			}
		}
	}
}

.atendimento-paciente {
	.mosaic-item {
		// padding-bottom: 0 !important;
		position: relative;
		h2 {
			color: #416888;
		}
		.col-md-8 {
			form {
				.form-group.relative {
					position: relative;
					input {
						margin-bottom: 0;
					}
					::-webkit-input-placeholder,
					:-moz-placeholder,
					::-moz-placeholder,
					:-ms-input-placeholder  {
							color: #8897AA;
					}
					.icons-search {
						position: absolute;
						right: 15px;
						display: flex;
						align-items: center;
						justify-content: center;
						height: 100%;
						i {
							color: #8897AA;
						}
						button {
							border: 0;
							background-color: #ECEFF3;
							cursor: pointer;
							box-shadow: none;
						}
						a {
							box-shadow: none;
						}
						span {
							img {
								padding-right: 15px;
								box-shadow: none;
							}
						}
					}
				}
			}
		}
		.row.addAtendimento {
			position: absolute;
			right: 15px;
			left: 15px;
			bottom: -30px;
			width: 100%;
			a {
				width: 100%;
				text-align: center;
				padding: 15px 0;
				font-weight: 500;
			}
		}
	}

	.row:first-child {
		padding-bottom: 20px;
		align-items: center;
		form {
			input {
				background-color: #ECEFF3 !important;
			}
		}
	}

	.row.paciente-item {
			.col-md-12 {
				align-items: center;
				padding: 10px 15px;
				margin-bottom: 20px;
				box-shadow: 0 11px 33px -4px rgba(65,104,136,0.14);
				border-radius: 4px;
				.info-paciente {
					align-items: center;
					justify-content: space-between;
					flex-wrap: wrap;
					p {
						margin-bottom: 0;
					}

					.name-paciente {
						color: #4F627D;
						font-weight: 700;
						letter-spacing: 0.4px;
						font-size: 18px;
					}

					.name-convenio {
						color: #8897AA;
						font-weight: 300;
					}


				}
				.horario-paciente {
					p {
						margin-bottom: 0;
						padding: 0.3em 1em;
						border-radius: 4px;
						background-color: #01e9b1;
						color: #fff;
						text-align: center;
						font-size: 18px;
						font-weight: 500;
					}
			
				}
			}

	}
}


.ematendimento  {
	padding-top: 30px;

	.continuarAtendimento {
		position: absolute;
		right: 15px;
		left: 15px;
		bottom: -30px;
		width: 100%;
		a {
			width: 50%;
			text-align: center;
			padding: 15px 0;
		}
		#finalizarAtendimento {
			background: #F56161;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			font-weight: 500;
		}
		#continuarAtendimento {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			font-weight: 500;
		}
	}
}

.title-perfil {
	h2 {
		padding-bottom: 20px;
		color: #416888;
	}
}

.financeiro.receita {
	table {
		border: none;
		thead, tbody {
			text-align: center;
		}
		th {
			border-right: 1px dashed rgba(65, 104, 136, 0.2);
			border-top: none;
			border-bottom: none;
			border-left: none;
			font-weight: 400;
		}
		td {
			border: none;
			border-right: 1px dashed rgba(65, 104, 136, 0.2);
		}

		tbody {
			td {
				color: #8897AA;
				font-weight: 400;
				a {
					margin-bottom: 0;
					padding: 0.3em 1em;
					border-radius: 4px;
					background-color: #01e9b1;
					color: #fff;
					text-align: center;
					font-size: 16px;
					font-weight: 500;
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}
}