<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-bag"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Vendas</span>
                <span class="info-box-number"><%= countSales %></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-calendar"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Consultas</span>
                <span class="info-box-number"><%= scheduleQnty %></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-person-add"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Usuários</span>
                <span class="info-box-number"><%= userQnty %></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-alert"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Erros</span>
                <span class="info-box-number"><%= errorQnty %></span>
            </div>
        </div>
    </div>
</div>